/* Button */
.button{
    background: #f00808;
	color: #fff !important;
    cursor: pointer;
    text-align: center;
    font-size: 1.1em;
    text-decoration: none;

}
html {
    width: 75%;
    height: 75%;
    border: 1px solid;
}
body{
    margin: 0;
    text-align: center;
}

.content2{
    text-align: center;
    margin: 150px auto;
    position: relative;
   
}
logo{
    width: 50%;
    height: 100px;
}
textarea{
    height: 100px;
    width: 300px;
}